@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

/*
* Navigation
*/
nav {
  z-index: 999;
  height: 60px;
  color: white;
  background-color: #a58cb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav .wrapper {
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .title__logo {
  font-family: "Cinzel", serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: underline;
}

nav .nav__links {
  z-index: 99;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  background-color: #847187;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

nav .nav__links li {
  margin: 1.5rem 0;
}

nav .nav__links li a {
  text-decoration: none;
  color: white;
}

nav .nav__links .img {
  position: absolute;
  top: -1000px;
}

nav .nav__links.open {
  -webkit-transform: scalex(1);
          transform: scalex(1);
  overflow-x: hidden;
}

nav .hamburger {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border: 2px solid white;
  height: 40px;
  width: 40px;
  margin-right: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  z-index: 9999;
  cursor: pointer;
}

nav .hamburger::before {
  content: '';
  background-color: white;
  height: 2px;
  width: 20px;
  position: absolute;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  border-radius: 15px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

nav .hamburger span {
  background-color: white;
  height: 2px;
  width: 20px;
  border-radius: 15px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

nav .hamburger::after {
  content: '';
  background-color: white;
  height: 2px;
  width: 20px;
  position: absolute;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  border-radius: 15px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

nav .hamburger.open {
  border-radius: 50%;
}

nav .hamburger.open span {
  -webkit-transform: translateX(-35px);
          transform: translateX(-35px);
  background: transparent;
}

nav .hamburger.open::before {
  -webkit-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px);
}

nav .hamburger.open::after {
  -webkit-transform: rotate(-45deg) translate(0px, 0px);
          transform: rotate(-45deg) translate(0px, 0px);
}

/*
* Announcement
*/
.announcement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 0.575rem;
  width: 100%;
}

.announcement img {
  margin: auto 15px;
}

/*
* Header
*/
header {
  color: white;
}

header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

header .brand__intro {
  margin-top: -7px;
  height: 500px;
  background-color: #95499c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 1rem;
}

header .brand__intro .brand__title {
  margin: 1rem 0 0rem 0;
}

header .brand__intro .brand__title .title {
  font-family: "Cinzel", serif;
  font-weight: 400;
  text-decoration: underline;
  text-underline-position: under;
}

header .brand__intro img {
  margin: 1.5rem 0;
  border: 2px solid white;
  border-radius: 50%;
  padding: 3px;
  height: 200px;
  width: 200px;
}

header .brand__intro .brand__description {
  text-align: center;
}

header .brand__intro .brand__description p {
  font-weight: 300;
}

/*
* About Us
*/
.about__us .title {
  margin: 1rem 0;
  text-align: center;
  font-weight: 400;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

.about__us .about__description {
  padding: 1rem;
}

.about__us .image__about {
  padding: 1rem;
}

.about__us .image__about img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-fit: cover;
     object-fit: cover;
}

/*
* Event
*/
.event {
  background: -webkit-gradient(linear, left top, left bottom, from(#8560a8), to(#a690bb));
  background: linear-gradient(180deg, #8560a8, #a690bb);
  color: white;
}

.event .title {
  padding-top: 1rem;
  text-align: center;
  font-weight: 400;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

.event .wrapper {
  text-align: center;
  margin: 3rem auto 0 auto;
  width: 95%;
}

.event .wrapper .content__description h4 {
  font-weight: 400;
  text-transform: uppercase;
}

.event .wrapper .content__description p {
  margin: 0.5rem 0;
}

.event .wrapper .time__remaining {
  margin: 1.5rem 0;
}

.event .wrapper .time__remaining h1 {
  font-weight: 400;
  font-size: 2rem;
}

.event .wrapper .form__group p {
  font-size: 0.875rem;
}

.event .wrapper .form__group .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.event .wrapper .form__group .form input {
  margin: 5px;
  width: 80%;
  height: 40px;
  padding-left: 10px;
}

.event .wrapper .form__group .form button {
  width: 80%;
  height: 50px;
  margin: 1.5rem 0;
  background-color: #f68e56;
  color: white;
  -webkit-box-shadow: 0.5px 1px 1px 1px #626262;
          box-shadow: 0.5px 1px 1px 1px #626262;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

/*
* Our Menu
*/
.our__menu {
  background-image: url("/assets/bg-menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.our__menu .title {
  margin: 1rem 0;
  text-align: center;
  font-weight: 400;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

.our__menu .menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  list-style-type: none;
  text-align: center;
  margin-top: 1.5rem;
  color: black;
  height: 250px;
}

.our__menu .menu__links li {
  background-color: #d7d7d7;
  margin: 0.5rem 1rem;
  font-size: 0.875rem;
  padding: 12px;
  border-radius: 25px;
  width: 150px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.our__menu .menu__links li.active {
  background-color: #95499c;
  color: white;
}

.our__menu .menu__links li:hover {
  background-color: #95499c;
  color: white;
}

.our__menu .content__menu {
  margin: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 30px;
}

.our__menu .content__menu .menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 95%;
  margin: auto auto;
  border-radius: 20px 20px 20px 20px;
}

.our__menu .content__menu .menu img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px 20px 20px 20px;
}

.our__menu .content__menu .menu .menu__description {
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  opacity: 79%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px 20px 20px 20px;
  padding: 0.5rem;
}

.our__menu .content__menu .menu .menu__description h4 {
  font-weight: 400;
  font-size: 22px;
}

.our__menu .content__menu .menu .menu__description p {
  font-size: 1rem;
}

/*
* Testimonials
*/
.testimonials .title {
  margin: 1rem 0 0 0;
  text-align: center;
  font-weight: 400;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  font-size: 1.3rem;
}

.testimonials p {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  width: auto;
  margin: auto auto;
}

.testimonials .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 2rem auto;
  width: 90%;
}

.testimonials .card img {
  height: 250px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center right;
     object-position: center right;
  border-radius: 50%;
}

.testimonials .card h4 {
  margin: 1rem 0;
  font-weight: 500;
  font-size: 1.2rem;
}

.testimonials .card p {
  font-style: italic;
  font-size: 0.875rem;
  line-height: normal;
}

/*
* Contact
*/
.contact {
  background-color: #95499c;
  color: white;
  font-weight: 400;
}

.contact .title {
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  margin: auto auto;
  font-weight: 500;
  padding-top: 1.5rem;
  font-size: 1.3rem;
}

.contact .wrapper {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-left: 1.5rem;
}

.contact .wrapper .contact__description {
  list-style-type: none;
}

.contact .wrapper .links {
  list-style-type: none;
  margin: 2rem 0;
  text-decoration: underline;
  text-underline-position: under;
}

.contact .wrapper .social__links {
  list-style-type: none;
  text-decoration: underline;
  text-underline-position: under;
}

.contact footer {
  margin-top: 1rem;
  height: 50px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */