@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

nav {
  height: 60px;
  color: white;
  background-color: #a58cb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav .wrapper {
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .title__logo {
  font-family: "Cinzel", serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: underline;
}

nav .nav__links {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  background-color: #95499c;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

nav .nav__links li {
  margin: 1.5rem 0;
}

nav .nav__links li a {
  text-decoration: none;
  color: white;
}

nav .nav__links .img {
  position: absolute;
  top: -1000px;
}

nav .nav__links.open {
  -webkit-transform: scalex(1);
          transform: scalex(1);
}

nav .hamburger {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border: 2px solid white;
  height: 40px;
  width: 40px;
  margin-right: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  z-index: 2;
  cursor: pointer;
}

nav .hamburger::before {
  content: '';
  background-color: white;
  height: 2px;
  width: 20px;
  position: absolute;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  border-radius: 15px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

nav .hamburger span {
  background-color: white;
  height: 2px;
  width: 20px;
  border-radius: 15px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

nav .hamburger::after {
  content: '';
  background-color: white;
  height: 2px;
  width: 20px;
  position: absolute;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  border-radius: 15px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

nav .hamburger.open {
  border-radius: 50%;
}

nav .hamburger.open span {
  -webkit-transform: translateX(-35px);
          transform: translateX(-35px);
  background: transparent;
}

nav .hamburger.open::before {
  -webkit-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px);
}

nav .hamburger.open::after {
  -webkit-transform: rotate(-45deg) translate(0px, 0px);
          transform: rotate(-45deg) translate(0px, 0px);
}
/*# sourceMappingURL=main.css.map */