.announcement {
  @include flex(flex,center,center);
  flex-flow: row;
  padding: 0.575rem;
  width: 100%;
  @include desktop {
    height: 70px;
  }
  img {
    margin: auto 15px;
  }
  p {
    @include desktop {
      font-size: 1.2rem;
    }
  }
}
