

.contact {
  background-color: $main-color;
  color: white;
  font-weight: 400;

  .title {
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    margin:auto auto;
    font-weight: 500;
    padding-top: 1.5rem;
    font-size: 1.3rem;
  }

  .wrapper {
    margin : 3rem 0;
    @include flex(flex,space-between,start);
    flex-flow: column;
    padding-left: 1.5rem;

    .contact__description {
      list-style-type: none;
    }

    .links {
      list-style-type: none;
      margin: 2rem 0;
      text-decoration: underline;
      text-underline-position: under;
    }

    .social__links {
      list-style-type: none;
      text-decoration: underline;
      text-underline-position: under;
    }
  }

  footer {
    margin-top: 1rem;
    height: 50px;
    text-align: center;
  }
}