@import "_responsive.scss";

.contact {
  background-color: $main-color;
  color: white;
  font-weight: 400;

  .title {
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    margin:auto auto;
    font-weight: 400;
    padding-top: 1.5rem;
    font-size: 1.3rem;
  }

  .wrapper {
    margin : 3rem 0;
    @include flex(flex,space-between,start);
    flex-flow: column;
    padding-left: 1.5rem;

    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
    }

    .contact__description {
      list-style-type: none;
      font-weight: 300;
      color: white;
      
      li {
        margin: 0.5rem 0;
        @include tablet {
          margin: 1rem 0;
        }
      }
    }

    .links {
      list-style-type: none;
      margin: 2rem 0;
      text-decoration: underline;
      text-underline-position: under;
      font-weight: 300;
      li {
        margin: 0.5rem 0;
        @include tablet {
          margin:0;
          margin: 1rem 0;
          padding-left: 4rem;
          
        }
        a {
          color: white;
        }
      }
      
    }

    .social__links {
      list-style-type: none;
      text-decoration: underline;
      text-underline-position: under;
      font-weight: 300;
      color: white;
      li {
        margin: 0.5rem 0;
        a {
          color: white;
        }
        @include tablet {
          margin: 1rem 0;
          padding-left: 4rem;
        }
      }
    }
  }

  footer {
    margin-top: 1rem;
    height: 50px;
    text-align: center;
  }
}