.event {
  background: linear-gradient(180deg, #8560a8, #a690bb);
  color: white;

    .title {
    padding-top: 1rem;
    text-align: center;
    font-weight: 400;
    text-decoration:underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
  }

  .wrapper {
    text-align: center;
    margin: 3rem auto 0 auto;
    width: 95%;

    .content__description {
      h4 {
        font-weight: 400;
        text-transform: uppercase;
      }
      p {
        margin: 0.5rem 0;
      }
    }

    .time__remaining {
      margin: 1.5rem 0;
      h1 {
        font-weight: 400;
        font-size: 2rem;
      }
    }

    .form__group {
      p {
        font-size: 1rem;
      }
      .form {
        @include flex(flex,space-between,center);
        flex-direction: column;
        @include desktop {
          max-width: 40%;
          margin: auto auto;
        }
        
        .text__group {
          width: 100%;
          margin-top: 1rem;
          @include desktop {
            @include flex(flex,space-evenly,center);
            width: 81%;
          }
          
        }
        input {
          margin: 5px;
          width: 80%;
          height: 40px;
          padding-left: 10px;
        }

        button {
          width: 80%;
          height: 50px;
          margin: 1.5rem 0;
          background-color: $cta-button;
          color:white;
          box-shadow: 0.5px 1px 1px 1px rgb(98, 98, 98);
          transition: all 0.5s;
          cursor: pointer;
          border: none;
          font-family: $font-poppins;
          font-size: 0.875rem;
          font-weight: 400;
        }
      }
    }
  }
}