@import "_responsive.scss";
header {
  color: white;
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .brand__intro {
    margin-top: -7px;
    height: 500px;
    background-color: $main-color;
    @include flex(flex,space-between,center);
    flex-flow: column;
    padding: 1rem;
    @include desktop {
      margin-top: 0;
      height: auto;
    }

    .brand__title {
      margin: 1rem 0 0rem 0;

      .title {
        font-family: $font-cinzel;
        font-weight: 400;
        text-decoration: underline;
        text-underline-position: under;
      }
    }

     img {
        margin: 1.5rem 0;
        border: 2px solid white;
        border-radius: 50%;
        padding: 3px;
        height: 200px;
        width: 200px;
        @include tablet {
          width: 250px;
          height: 250px;
        }
      }

    .brand__description {
      text-align: center;

      p {
        font-weight: 300;
        padding-bottom: 2rem;
        @include desktop {
          width: 70%;
          margin: auto auto;
        }
      }
    }
  }
}