
.testimonials {
  .title {
    margin: 1rem 0 0 0;
    text-align: center;
    font-weight: 400;
    text-decoration:underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    font-size: 1.3rem;
    @include desktop {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
  }

  p {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    width: auto;
    margin: auto auto;
  }

  .wrapper {
    @include tablet{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
    }
    @include desktop {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
    }
    width: 80%;
    margin: 3rem auto;

    .card {
      @include flex(flex,space-between,center);
      flex-flow: column;
      margin:2rem auto;
      width: 90%;
      
      img {
        height: 250px;
        width: 250px;
        object-fit: cover;
        object-position: center right;
        border-radius: 50%;
      }
      h4 {
        margin: 1rem 0;
        font-weight: 500;
        font-size: 1.2rem;
      }
      p {
        font-style: italic;
        font-size: 0.875rem;
        line-height: normal;
        margin-top: 0;
        @include desktop {
          font-size: 1rem;
        }
      }
    }
  }
}
