@import "_config.scss";


// Base style
:root {
  font-size: 18px;
  font-family: $font-poppins;
}


nav {
  height: 60px;
  color: white;
  background-color: $accent-color;
  @include flex(flex,center,center);
  position: sticky;
  top:0;

  .wrapper {
    width: 95%;
    height: 100%;
    @include flex(flex,space-between,center);
  }

  .title__logo {
    font-family: $font-cinzel;
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: underline;
  }

  .nav__links {
    transform: scaleX(0);
    @include transistion-ease(all,0.5s,ease-in-out);
    position: absolute;
    background-color: $navlinks-color;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    @include flex(flex,center,center);
    flex-direction: column;
    list-style-type: none;
    li {
      margin: 1.5rem 0;
      a {
        text-decoration: none;
        color: white;
      }
    }
    .img {
      position: absolute;
      top:-1000px
    }
    &.open {
      transform: scalex(1);
    }
  }

  .hamburger {
    @include transistion-ease(all,1s,ease);
    border: 2px solid white;
    height: 40px;
    width: 40px;
    margin-right: 0.875rem;
    @include flex(flex,space-evenly,center);
    flex-flow: column;
    z-index: 2;
    cursor: pointer;

    
    &::before {
      content: '';
      background-color: white;
      height: 2px;
      width: 20px;
      position: absolute;
      transform: translateY(-8px);
      border-radius: 15px;
      @include transistion-ease(all,1s,ease);       
    }
  
    span {
      background-color: white;
      height: 2px;
      width: 20px;
      border-radius: 15px;
      @include transistion-ease(all,1s,ease);   
    }

    
    &::after {
      content: '';
      background-color: white;
      height: 2px;
      width: 20px;
      position: absolute;
      transform: translateY(8px);
      border-radius: 15px;
      @include transistion-ease(all,1s,ease);          
    }

    &.open {
      border-radius: 50%;
      
      span {
        transform: translateX(-35px);
        background: transparent;
      }
      &::before {
        transform: rotate(45deg) translate(0px,0px);
      }
      &::after {
        transform: rotate(-45deg) translate(0px, 0px);
      }
    }
  }
}

.announcement {
  @include flex(flex,center,center);
  flex-flow: row;
  padding: 0.575rem;
  width: 100%;
  img {
    margin: auto 15px;
  }
}

header {
  color: white;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .brand__intro {
    margin-top: -7px;
    background-color: $main-color;
    @include flex(flex,space-between,center);
    flex-flow: column;
    padding: 1rem;

    .brand__title {
      margin: 1.5rem 0;
      img {
        border: 2px solid white;
        border-radius: 50%;
        padding: 3px;
      }
    }
    
    .brand__description {
      text-align: center;

      p {
        font-weight: 300;
      }
    }
  }
}

.about__us {
  h2 {
    text-align: center;
    border-bottom: 2px solid black;
    width: 30%;
    margin: 1rem auto;
  }
  .about__description {
    padding: 1rem;
  }

  .image__about {
    padding: 1rem;

    img {
      width: 100%;
      object-fit: contain;
      object-fit: cover;
    }
  }
}