{% extends 'layouts/auth.html' %} {% block title %} Login {% endblock %} 
{%block content %}
<form action="{{ url_for('login') }}" method="POST">
  {{ form.hidden_tag() }}
  <div class="input-group mb-3">
    {{ form.username }}
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-user"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    {{ form.password }}
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>
  <div class="row">
    {#
    <div class="col-8">
      <div class="icheck-primary">
        <input type="checkbox" id="remember" />
        <label for="remember"> Remember Me </label>
      </div>
    </div>
    #}
    <!-- /.col -->
    <div class="col-4">
      {{ form.submit }}
    </div>
    <!-- /.col -->
  </div>
</form>
{% endblock %}
