{% extends 'base.html' %} {% block title %}Admin Dashboard | Event{% endblock %}
{% block active_event %}active{% endblock %} {% block content %}
<!-- Navigation info -->
<ul id="nav-info" class="clearfix">
  <li>
    <a href="{{url_for('admin_dashboard')}}"><i class="fa fa-home"></i></a>
  </li>
  <li><a href="javascript:void(0)">Tables</a></li>
  <li class="active"><a href="">Edit Event</a></li>
</ul>
<!-- END Navigation info -->
<!-- Text Inputs -->
<form
  action="/admin_dashboard/event/edit/{{event.id}}"
  method="POST"
  class="form-horizontal form-box"
>
  <h4 class="form-box-header">Edit Event</h4>
  <div class="form-box-content">
    <!-- Input Sizes -->
    <div class="form-group">
      <label class="control-label col-md-2" for="event">Event :</label>
      <div class="col-md-3">
        <input
          type="text"
          name="event_name"
          class="form-control"
          value="{{ event.event_name }}"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="event">Promo Info :</label>
      <div class="col-md-3">
        <input
          type="text"
          name="event_promo_info"
          class="form-control"
          value="{{event.event_promo_info}}"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="example-input-datepicker">
        Date :</label
      >
      <div class="col-md-2">
        <input
          type="text"
          id="date_emd"
          name="event_date_end"
          class="form-control input-datepicker"
          value="{{event.event_date}}"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="example-input-timepicker">
        Time :</label
      >
      <div class="col-md-2">
        <div class="input-group bootstrap-timepicker">
          <input
            type="text"
            id="time_end"
            name="event_time_end"
            class="form-control input-timepicker"
            value="{{event.event_time}}"
          />
          <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="event">Place :</label>
      <div class="col-md-3">
        <input
          type="text"
          name="event_place"
          class="form-control"
          value="{{event.event_place}}"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="event"
        >Status :</label
      >
      <div class="col-md-3">
        <select
          name="event_status"
          class="form-control"
          required
        >
        {% for status in event_status  %}
          <option value="{{status}}">{{status}}</option>
        {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group form-actions">
      <div class="col-md-10 col-md-offset-2">
        <input type="submit" class="btn btn-success" value="Save" />
      </div>
    </div>
  </div>
</form>
{% endblock content %}
