{% extends 'base.html' %} {% block title %}Admin Dashboard | Event{% endblock %}
{% block active_event %}active{% endblock %} {% block content %}
<!-- Navigation info -->
<ul id="nav-info" class="clearfix">
  <li>
    <a href="{{url_for('admin_dashboard')}}"><i class="fa fa-home"></i></a>
  </li>
  <li><a href="javascript:void(0)">Tables</a></li>
  <li class="active"><a href="">Data Event</a></li>
</ul>
<!-- END Navigation info -->
<!-- Datatables -->
<h3 class="page-header page-header-top">Tables <small>List of Event</small></h3>
<a
  href="/admin_dashboard/event/add"
  class="btn btn-sm btn-success"
  style="margin-bottom: 2rem"
  ><i class="fa fa-plus"></i> Add Event</a
>
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{message}}
</div>
{% endfor %} {% endif %} {% endwith %}
<table
  id="example-datatables"
  class="table table-striped table-bordered table-hover"
>
  <thead>
    <tr>
      <th class="cell-small text-center hidden-xs hidden-sm">#</th>
      <th><i class="gi gi-bookmark"> </i> Event</th>
      <th><i class="gi gi-pencil"> </i> Promo Info</th>
      <th><i class="gi gi-calendar"> </i> Date End</th>
      <th><i class="gi gi-clock"> </i> Time End</th>
      <th><i class="gi gi-google_maps"> </i> Place</th>
      <th><i class="gi gi-chevron-right"> </i> Status</th>
      <th><i class="fa fa-gear (alias)"> </i> Operation</th>
    </tr>
  </thead>
  <tbody>
  {% for event in events  %}
    <tr>
      <td class="text-center hidden-xs hidden-sm">{{ loop.index }}</td>
      <td>{{ event.event_name }}</td>
      <td>{{ event.event_promo_info }}</td>
      <td>{{ event.event_date }}</td>
      <td>{{ event.event_time }}</td>
      <td>{{ event.event_place }}</td>
      <td>
        {% if event.event_status == "active"%}
          <span class="label label-success">{{ event.event_status.title() }}...</span>
        {% elif event.event_status == "not_set" %}
          <span class="label label-info">{{ event.event_status.title() }}...</span>
        {% else %}
          <span class="label label-default">{{ event.event_status.title() }}...</span>
        {% endif %}
      </td>
      <td>
        <div class="btn-group">
          <a
            style="margin-right: 1rem"
            href="/admin_dashboard/event/edit/{{event.id}}"
            title="Edit"
            class="btn btn-xs btn-success"
            ><i class="fa fa-pencil"></i> Edit</a
          >
          <a
            href="#event{{event.id}}"
            data-toggle="modal"
            class="btn btn-xs btn-danger"
            ><i class="fa fa-times"></i> Delete</a
          >
          {% include "admin_dashboard/includes_admin/event-modal-delete.html" %}
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table> </br>
<p>Note :
  Status by default is not_set, you can edit it by clicking edit button. When promo event is set to active, countdown timer is starting. You can choose which event is active.
</p>
<!-- END Datatables -->
{% endblock content %}
{% block script_event%}
<!-- Javascript code only for this page -->
<script>
  $(function () {
    /* Initialize Datatables */
    $("#example-datatables").dataTable({
      columnDefs: [{ orderable: false, targets: [0] }],
    });
    $("#example-datatables2").dataTable();
    $("#example-datatables3").dataTable();
    $(".dataTables_filter input").attr("placeholder", "Search");
  });
</script>
{% endblock script_event%}
