{% extends 'base.html' %} {% block title %}Admin Dashboard | Menu{% endblock %}
{% block active_menu %}active{% endblock %} {% block content %}
<!-- Navigation info -->
<ul id="nav-info" class="clearfix">
  <li>
    <a href="{{url_for('admin_dashboard')}}"><i class="fa fa-home"></i></a>
  </li>
  <li><a href="javascript:void(0)">Tables</a></li>
  <li class="active"><a href="">Edit Menu</a></li>
</ul>
<!-- END Navigation info -->
<!-- Text Inputs -->
<form
  action="/admin_dashboard/menu/edit/{{menu.id}}"
  method="POST"
  class="form-horizontal form-box"
  enctype=multipart/form-data 
>
  <h4 class="form-box-header">Edit Menu</h4>
  <div class="form-box-content">
    <!-- Input Sizes -->
    <div class="form-group">
      <label class="control-label col-md-2" for="Category">Name :</label>
      <div class="col-md-3">
        <input
          type="text"
          name="menu_name"
          class="form-control"
          required
          value="{{menu.menu_name}}"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="example-textarea"
        >Description :</label
      >
      <div class="col-md-4">
        <textarea
          name="menu_description"
          class="form-control"
          rows="4"
          required
        >{{menu.menu_description}}</textarea>
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-md-2" for="example-file">Image :</label>
      <div class="col-md-4">
        <input
          type="file"
          name="menu_image"
          class="form-control"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="Category"
        >Category :</label
      >
      <div class="col-md-4">
        <select
          name="menu_category"
          class="form-control"
          required
        >
          {% for category in categories %}
            <option value="{{category.id}}">{{ category.category_name.title() }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group form-actions">
      <div class="col-md-10 col-md-offset-2">
        <input type="submit" class="btn btn-success" value="Save" />
      </div>
    </div>
  </div>
</form>
{% block script_category %} {% endblock script_category%} {% endblock content %}
