{% extends 'base.html' %} {% block title %}Admin Dashboard | Menu{% endblock %}
{% block active_menu %}active{% endblock %} {% block content %}
<!-- Navigation info -->
<ul id="nav-info" class="clearfix">
  <li>
    <a href="{{url_for('admin_dashboard')}}"><i class="fa fa-home"></i></a>
  </li>
  <li><a href="javascript:void(0)">Tables</a></li>
  <li class="active"><a href="">Menu Detail</a></li>
</ul>
<!-- END Navigation info -->
<!-- Text Inputs -->
<div class="form-horizontal form-box">
  <h4 class="form-box-header">Menu Detail</h4>
  <div class="form-box-content">
    <!-- Input Sizes -->
    <div class="form-group">
      <label class="control-label col-md-2" for="Category">Name :</label>
      <div class="col-md-3">
        <input
          type="text"
          name="menu_name"
          class="form-control"
          disabled
          value="{{menu.menu_name.title()}}"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="example-textarea"
        >Description :</label
      >
      <div class="col-md-4">
        <textarea
          name="menu_description"
          class="form-control"
          rows="4"
          disabled
        >
{{menu.menu_description}}</textarea
        >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="example-file">Photo :</label>
      <img src="data:{{menu.menu_filename}};charset=utf-8;base64,{{image_string}}" alt="fakeimg"
      />
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="Category">Category :</label>
      <div class="col-md-4">
        <select name="menu_category" class="form-control" disabled>
          <option value="{{ menu.category_id }}">
            {{ menu.category.category_name.title() }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
{% block script_category %} {% endblock script_category%} {% endblock content %}
