{% extends 'base.html' %} {% block title %} Admin Dashboard | Subscriber {%
endblock %} {% block content %}
<!-- Navigation info -->
<ul id="nav-info" class="clearfix">
  <li>
    <a href="index.html"><i class="fa fa-home"></i></a>
  </li>
  <li><a href="javascript:void(0)">Tables</a></li>
  <li class="active"><a href="">Data Subscriber</a></li>
</ul>
<!-- END Navigation info -->
<!-- Datatables -->
<h3 class="page-header page-header-top">
  Tables <small>List of Subscriber</small>
</h3>
<table
  id="example-datatables"
  class="table table-striped table-bordered table-hover"
>
  <thead>
    <tr>
      <th class="cell-small text-center hidden-xs hidden-sm">#</th>
      <th><i class="fa fa-user"> </i> Firstname</th>
      <th><i class="hi hi-briefcas"> </i> Lastname</th>
      <th><i class="fa fa-envelope-o"> </i> Email</th>
    </tr>
  </thead>
  <tbody>
    {% for subscriber in subscribers %}
    <tr>
      <td class="text-center hidden-xs hidden-sm">
      {{ subscriber.id }}
      </td>
      <td>{{ subscriber.subscriber_firstname.title() }}</td>
      <td>{{ subscriber.subscriber_lastname.title() }}</td>
      <td>{{ subscriber.subscriber_email.lower() }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- END Datatables -->
{% endblock %} {% block script_subscriber%}
<!-- Javascript code only for this page -->
<script>
  $(function () {
    /* Initialize Datatables */
    $("#example-datatables").dataTable({
      columnDefs: [{ orderable: false, targets: [0] }],
    });
    $("#example-datatables2").dataTable();
    $("#example-datatables3").dataTable();
    $(".dataTables_filter input").attr("placeholder", "Search");
  });
</script>
{% endblock %}
