@import "_variable.scss";

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


// Base style
:root {
  font-size: 18px;
  font-weight: 400;
  font-family: $font-poppins;
}

// Display
@mixin flex($display, $justify-content, $align-item) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-item;
}

// Transistion
@mixin transistion-ease($all, $time, $ease) {
  transition: $all $time $ease;
}