<section class="about__us" id="about__us">
  <h2 class="title">About Us</h2>
  <div class="wrapper">
    <div class="about__description" data-aos="fade-right">
      <p>
        Our mission is to give everyone high quality taste of coffee and
        enjoyable place.
      </p>
      <br />
      <p>
        Coffee & Joy offers high quality coffee beans, and various menu with a
        cozy place where people can spend their time and boost your productivity
      </p>
    </div>
    <div class="image__about" data-aos="fade-left">
      <img src="{{ url_for('static', filename='assets/img-about.png') }}" alt="image" />
    </div>
  </div>
</section>