<section class="contact" id="contact">
  <h2 class="title">Where To Find Us</h2>
  <div class="wrapper">
    <ul class="contact__description">
      <li>Coffee & Joy</li>
      <li>ABC, Street 1270, Long Beach</li>
      <li>00-123-456-789</li>
      <li>mail@coffeeandjoy.com</li>
    </ul>
    <ul class="links">
      <li><a href="#body">Home</a></li>
      <li><a href="#about__us">About Us</a></li>
      <li><a href="index.html">Careers</a></li>
      <li><a href="#event">Event</a></li>
    </ul>
    <ul class="social__links">
      <li><a href="index.html">Facebook</a></li>
      <li><a href="index.html">Instagram</a></li>
      <li><a href="index.html">Twitter</a></li>
    </ul>
  </div>
  <footer>
    <p class="copyright"></p>
  </footer>
</section>