<nav>

  <div class="wrapper">
    <h3 class="title__logo"><a href="#body">Coffee & Joy</a></h3>
    <ul class="nav__links">
      <li class="home__anchor__mobile"><a href="#body">Home</a></li>
      <li><a href="#about__us">About Us</a></li>
      <li><a href="#event">Event</a></li>
      <li class="anchor__logo"><a href="#body">Coffee & Joy</a></li>
      <li><a href="#our__menu">Our Menu</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <div class="hamburger">
      <span></span>
    </div>
  </div>
</nav>