
<section class="our__menu" id="our__menu">
  <h2 class="title">Our Menu</h2>
  <ul class="menu__links">
    <li class="list active" data-filter="all">All</li>
    {% for category in categories  %}
    <li class="list" data-filter="{{category.category_name}}">{{category.category_name.title()}}</li>
    {% endfor %}
  </ul>
  <div class="content__menu">
  {% for menu in menus %}
    <div class="menu" data-category="{{menu.category.category_name}}" data-aos="flip-left">
     <img src="data:{{menu.menu_filename}};charset=utf-8;base64,{{images_list[loop.index-1]}}" alt="expresso"/>
      <div class="menu__description">
        <h4>{{menu.menu_name.title()}}</h4>
        <p>{{menu.menu_description}}</p>
      </div>
    </div>
  {% endfor %}
  </div>
</section>