
<section class="testimonials" id="testimonials">
  <h2 class="title">Serving Community With Love</h2>
  <p>Bring your happiness and enjoy our coffee</p>
  <div class="wrapper">
    <div class="card p-4" data-aos="zoom-out-up">
      <img src="{{url_for('static', filename='assets/camilla.jpg')}}" alt="camilla" class="testimonal__image" />
      <h4>Camilla</h4>
      <p>
        “ It's obvious the ladies behind Coffee & Joy pour their heart, soul,
        and spirit into offering up great coffee taste. Don't miss out on
        meeting some great people over fantastic! ”
      </p>
    </div>
    <div class="card  p-4" data-aos="zoom-out-up">
      <img src="{{url_for('static', filename='assets/alice.jpg')}}" alt="alice" class="testimonal__image" />
      <h4>Alice</h4>
      <p>
        “ I’ve gotta say, this is some of the most flavorful, exquisite iced
        coffee latte I’ve ever tasted!”
      </p>
    </div>
    <div class="card p-4" data-aos="zoom-out-up">
      <img src="{{url_for('static', filename='assets/alex.jpg')}}" alt="alex" class="testimonal__image" />
      <h4>Alex</h4>
      <p>
        “ I have to say this is the most flavorful. They have high quality
        coffee and also vegetarian menu!”
      </p>
    </div>
  </div>
</section>